{% include 'header_and_footer/header.html' %}
<div class="container my-5 mt-4" style="text-align: center">
    <h2>О нашей пиццерии</h2>
    <p>Мы - команда энтузиастов, преданная искусству приготовления идеальной пиццы.</p>
</div>
<div class="container mt-4">
    <h3>Наша история</h3>
    <p>Мы начали свой путь с любовью к итальянской кухне. Наша цель - подарить каждому клиенту уникальный вкус и незабываемый опыт.</p>
    <p>С самого начала мы стремились использовать только лучшие ингредиенты, создавая ароматные и вкусные блюда для наших посетителей.</p>
</div>
<div class="container mt-4">
    <h3>Наше кредо</h3>
    <p>Мы верим в качество, свежесть и творчество. Каждая пицца у нас - это произведение искусства, созданное с душой и вниманием к деталям.</p>
</div>
<div class="container mt-4">
    <h3>Наши повара</h3>
    <p>Наша команда поваров - это настоящие мастера своего дела. Они с любовью и профессионализмом готовят каждое блюдо, чтобы порадовать вас.</p>
</div>
<div class="container mt-4">
    <h3>Наши ценности</h3>
    <p>У нас важны качество ингредиентов, внимание к деталям и удовлетворение клиентов. Мы стремимся быть лучшими в своем деле и радовать вас каждый день.</p>
</div>
{% include 'header_and_footer/footer.html' %}